.countrydes{
    font-style: italic;
    font-size: 10px;
    font-weight: 600;
    color: darkgoldenrod;
    border: 2px solid purple;
    margin: 15px;
    background-color:#d2fbd0;
    border-radius: 15px;
}