.countrydes{
    font-style: italic;
    font-size: 10px;
    font-weight: 600;
    color: black;
    border: 2px solid purple;
    margin: 15px;
    background-color:#d2fbd0;
    border-radius: 15px;
    width: 400px;
    height: auto;
}
.btn{
    font-size: 13px;
    /* padding: 10px; */
    background-color: #c4fec0;
    font-weight: bold;
    margin: 5px;
    color: black;
    border: 1px solid black;
}

.visit{
    background-color: rgb(213, 248, 248);
}
.non-visit{
    /* background-color: gray; */

}